#logs {
    height: calc(100svh - 4rem - 10rem - 4rem - 4px); // padding + height + border
    border: 1px solid #304562;
    overflow-y: scroll;
    overflow-x: hidden;

    @media (min-width: 768px) {
        height: calc(100vh - 4rem - 9rem - 4rem - 4px); // padding + height + border
    }
}

.is-expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: var(--surface-overlay);

    #logs {
        height: calc(100svh - 4rem - 2rem - 4rem - 4px); // padding + height + border

        @media (min-width: 768px) {
            height: calc(100vh - 4rem - 4rem - 4px); // padding + height + border
        }
    }
}

.ansi-red { color: #bf616a; }
.ansi-green { color: #a3be8c; }
.ansi-yellow { color: #ebdb8b; }
.ansi-blue { color: #5e81ac; }
.ansi-magenta { color: #b48ead; }
.ansi-cyan { color: #8fbcbb; }
.ansi-white { color: #eceff4; }
