#logs {
    height: 500px;
    font-family: 'JetBrainsMono Nerd Font', monospace;
    border: 1px solid #304562;
    overflow-y: scroll;
    overflow-x: hidden;

    >div {
        max-width: 100%;
        line-break: anywhere;
        font-family: 'JetBrainsMono Nerd Font', 'Courier New', Courier, monospace;
    }

    &.is-expanded {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        background: var(--surface-overlay);
    }
}

.p-button-icon-only:focus {
    box-shadow: none;
}

.ansi-red { color: #bf616a; }
.ansi-green { color: #a3be8c; }
.ansi-yellow { color: #ebdb8b; }
.ansi-blue { color: #5e81ac; }
.ansi-magenta { color: #b48ead; }
.ansi-cyan { color: #8fbcbb; }
.ansi-white { color: #eceff4; }